
$base: #8ecae6;

$muted: #219ebc;

$assign: #023047;

$main: #ffb703;

$wallpaper: #fb8500;

.section-one {
background-color: $muted}

.section-two {
background-color: $base}

.section-three{
background-color: $wallpaper}