$secondaryColor: #e0f7fa;
$accentColor: #00796b;
$highlightColor: #004d40;

.section-one {
  background: $secondaryColor;
}
.section-two {
  background: $accentColor;
}
.section-three {
  background: $highlightColor;
}